<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@attach(title)</title>
    <meta name="description" content="@attach(desc)">
    <meta property="og:title" content="@attach(title)">
    <meta property="og:description" content="@attach(desc)">
    
    <meta name="twitter:title" content="@attach(title)">
    <meta name="twitter:description" content="@attach(desc)">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    @import(header)
    
    @attach(main)
</body>
</html>